.switch {
  width: 80px;
  height: 50px;
  background-color: rgba(27, 26, 26, 0.4);
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
}
.on {
  justify-content: flex-end; /* La valeur lorsque le switch est activé */
  background-color: rgba(255, 255, 255, 0.4);
}
.handle {
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 40px;
}
.handle_on {
    background-color: #fff;
    color: #000;
  }
