/* if vs code shows warning , go to setting -> CSS> Lint:Unknown At Rules -> select ignore */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("../public/font/static/Montserrat-SemiBold.ttf") format("woff");
  /* Ajoutez d'autres formats de police ici si nécessaire */
}
